@import "./variables";
@import "./mixins";

body {
  margin: 0;
}

.Menu {
  @include flex-center;
  @include background;

  .container {
    border: 0.5rem solid $primary;
    height: 20rem;
    width: 20rem;
    position: absolute;
    text-align: center;
    color: $primary;
    background-color: rgba($color: $primary, $alpha: 0.2);
    .logo {
      @include logo;
      margin-top: 20%;
    }
    .button {
      @include text;
      margin-bottom: 20%;
      height: 3rem;
      width: 7rem;
      border: none;
      background-color: transparent;
      border-radius: 5%;
      color: $primary;
      text-decoration: none;
    }
  }
}

.Game {
  @include background;
}

.NavBar {
  @include text;
  display: flex;
  flex-direction: row;
  color: $primary;
  height: 3rem;
  width: 100vw;

  .timer {
    font-size: 1.5rem;
    margin: 1rem auto 0 4rem;
  }
  .logo {
    @include logo;
    font-size: 2rem;
    margin: 1rem auto 0 auto;
  }
  .restart {
    font-size: 1.5rem;
    margin: 1rem 4rem 0 auto;
  }
}

.Cards {
  .first-row {
    display: flex;
    margin-top: 3rem;
    .pile {
      width: max-content;
      height: max-content;
      cursor: pointer;
      & > img {
        margin-left: 8rem;
        @include card-dimensions;
        border: none;
      }
    }

    .preview {
      @include card-dimensions;
      margin-left: 2rem;
      margin-right: auto;
    }

    .goals {
      display: flex;
      width: fit-content;
      margin-left: auto;
      margin-right: 8rem;
      div {
        @include card-dimensions;
        margin: 0 2rem;
      }
    }
  }

  .second-row {
    display: flex;
    flex-direction: row;
    width: fit-content;
    margin: 4rem auto 0 auto;

    .column {
      @include card-dimensions;
      margin: 0 2rem;
    }
  }
}
