@import "./variables";
@import "./mixins";

body {
  margin: 0;
}

.Menu {
  @include flex-center;
  @include background;

  .container {
    border: 0.5rem solid $primary;
    height: 20rem;
    width: 20rem;
    position: absolute;
    text-align: center;
    color: $primary;
    background-color: rgba($color: $primary, $alpha: 0.2);
    .logo {
      @include logo;
      margin-top: 20%;
    }
    .button {
      @include text;
      margin-bottom: 20%;
      height: 3rem;
      width: 7rem;
      border: none;
      background-color: transparent;
      border-radius: 5%;
      color: $primary;
      text-decoration: none;
    }
  }
}

.Game {
  @include background;
}

.NavBar {
  @include text;
  display: flex;
  flex-direction: row;
  color: $primary;
  height: 3rem;
  width: 100vw;

  .timer {
    margin: 1rem auto 0 3rem;
  }
  .logo {
    @include logo;
    margin: 1rem auto 0 auto;
  }
  .restart {
    margin: 1rem 3rem 0 auto;
  }
}
